<div class="page-header">
	<h1>
		高级营销
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			活动创建
		</small>
	</h1>
</div>
<div class="row" ng-controller="AdvEventCreateController">
	<div class="col-xs-12">
		<div id="event-wizard" data-target="#step-container">
			<ul class="wizard-steps">
			   <li data-target="#step1" class="active">
				  <span class="step">1</span>
				  <span class="title">目标用户组</span>
			   </li>
			   <li data-target="#step2">
				  <span class="step">2</span>
				  <span class="title">推送策略</span>
			   </li>
			   <li data-target="#step3">
				  <span class="step">3</span>
				  <span class="title">活动信息</span>
			   </li>
			</ul>
		</div>
		<div class="space"></div>
		<!-- 选择标签 -->
		<div class="modal fade" id="TagChoose" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content modal-lg">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title">标签选择</h3>
				</div>
				<div class="modal-body tag-choose">
					<p ng-if="!tags">{{tag_empty}}</p>
					<tabset ng-if="tags">
						<tab ng-repeat="ptag in tags" heading="{{ptag.tag_name}}">
							<div class="checkbox" ng-repeat="tag in ptag.tags" style="display:inline-block;min-width:130px;">
								<label>
									<input type="checkbox" class="ace" ng-click="pushTag($event.target, tag.id, tag.tag_name)" ng-checked="selected_tags[tag.id]">
									<span class="lbl"> {{tag.tag_name}}</span>
								</label>
							</div>
						</tab>
					</tabset>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" data-dismiss="modal">确定</button>
				</div>
			</div>
			</div>
		</div>
		<!-- 每步的内容体 -->
		<div id="step-container" class="step-content row">
			<!-- 第一步：选择用户组 -->
			<div class="step-pane col-xs-12 active" id="step1" ng-init="getGroups()">
				<div ng-show="!groupsList">{{groupEmpty}}</div>
				<div class="row groups-list">
					<div class="col-xs-3 group-box" ng-repeat="item in groupsList.list">
						<div class="widget-box widget-box-me group-card" ng-class="{selected:item.id==selectedGroupId}" ng-click="selectGroup(item)">
							<div class="widget-header" data-original-title="" id="">
								<h5 class="widget-title bigger lighter pull-left">{{item.name}}</h5>
								<div class="sync-switcher">
									<i class="fa fa-lock bigger-120" ng-if="item.is_locked==1"></i>
									<i class="fa fa-unlock bigger-120" ng-if="item.is_locked==0"></i>
								</div>
							</div>
							<div class="widget-body">
								<div class="widget-main">
									<div class="alert alert-info description" data-html="true" data-placement="top"
									data-trigger="hover" data-original-title="组描述" data-content="aaa" style="cursor: default;"
									id="">
										{{item.description}}
									</div>
									<div class="alert alert-info description clearfix" data-html="true" data-placement="top"
										<i class="icon icon-user">
										</i>
										{{item.members_count}}人 
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 第二部：推送设置 -->
			<div class="step-pane col-xs-12" id="step2">
				<div class="col-xs-12 widget-container-col ui-sortable">
					<!-- #section:custom/widget-box -->
					<div class="widget-box">
						<div class="widget-header  widget-header-blue widget-header-flat">
							<h5 class="widget-title">推送账号设置</h5>
							<!-- #section:custom/widget-box.toolbar -->
							<div class="widget-toolbar">
								<a href="#" data-action="collapse">
									<i class="ace-icon fa fa-chevron-up" id=""></i>
								</a>
							</div>
							<!-- /section:custom/widget-box.toolbar -->
						</div>

						<div class="widget-body">
							<div class="widget-body-inner" style="display: block;">
								<div class="widget-main clearfix form-horizontal">
									<div class="form-group">
										<div class="col-sm-4 control-label">
											选择推送渠道：
										</div>
										<div class="col-sm-8" style="padding-top:7px">
											<!-- sf -->
											<p>
												<label class="position-relative">
													<input type="radio" class="ace" value="1" ng-model="pushMethod" ng-init="pushMethod=1" />
													<span class="lbl"> 全渠道推送 [使用全部渠道向组成员推送活动信息]</span>
												</label>
											</p>
											<p>
												<label class="position-relative">
													<input type="radio" class="ace" value="2" ng-model="pushMethod" />
													<span class="lbl"> 智能推送 [优选渠道向组成员推送活动信息]</span>
												</label>
											</p>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-4 control-label">
											<a href="javascript:;" ng-click="getGroupUserInfo()"> 查看成员信息 </a>
										</div>
										<div class="col-sm-8" style="padding-top:7px">
											<img src="assets/img/loading.gif" ng-show="groupUserInfoPending" style="vertical-align:text-bottom;">
											<span ng-hide="groupUserInfo">
												{{groupUserInfoEmpty}}
											</span>
											<ul ng-show="groupUserInfo.wb" class="list-unstyled spaced">
												<li ng-repeat="item in groupUserInfo.wb">
													<img ng-src="assets/img/wb_48x48.png" style="height:24px;width:24px;">
													<b>{{item.name}}</b> : 共 <b>{{item.num}}</b> 人
												</li>
											</ul>
											<ul ng-show="groupUserInfo.wx" class="list-unstyled spaced">
												<li ng-repeat="item in groupUserInfo.wx">
													<img ng-src="assets/img/wx_48x48.png" style="width:24px;height:24px">
													<b>{{item.name}}</b> : 共 <b>{{item.num}}</b> 人
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- 第三步：填写基本信息 -->
			<div class="step-pane col-xs-12" id="step3">
				<div class="row">
					<div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
						<!-- #section:custom/widget-box -->
						<div class="widget-box">
							<div class="widget-header  widget-header-blue widget-header-flat">
								<h5 class="widget-title">活动基本信息</h5>
								<div class="widget-toolbar">
									<a href="#" data-action="collapse">
										<i class="ace-icon fa fa-chevron-up" id=""></i>
									</a>
								</div>
							</div>

							<div class="widget-body">
								<div class="widget-body-inner" style="display: block;">
									<div class="widget-main clearfix">
										<div class="form-horizontal col-xs-6 event-base-info">
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 活动名称 </label>
												<div class="col-sm-9">
													<input type="text" ng-model="p.info.name" placeholder="活动名称" class="col-sm-5">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 活动时间 </label>
												<div class="col-sm-9">
													<span class="input-group col-xs-4" style="float:left">
														<span class="input-group-addon"
															ng-click="openDatepicker($event, 'opened1')"><i
															class="fa fa-calendar bigger-110"></i></span>
														<input type="text" datepicker-popup="yyyy-MM-dd"
															ng-model="p_info_start" is-open="opened1"
															min-date="minDate" max-date="'2050-10-10'"
															datepicker-options="dateOptions" placeholder="开始时间"
															date-disabled="disabled(date, mode)"
															ng-click="openDatepicker($event, 'opened1')"
															clear-text="清除" current-text="今天" close-text="关闭"/>
													</span>
													<!-- <input type="text" ng-model="p.info.start" placeholder="2014-12-25" class="col-sm-5"> -->
													<div class="col-xs-1 col-sm-1" style="margin:7px 5px 0 -5px">至</div>
													<span class="input-group col-xs-4">
														<span class="input-group-addon"
															ng-click="openDatepicker($event, 'opened2')"><i
															class="fa fa-calendar bigger-110"></i></span>
														<input type="text" datepicker-popup="yyyy-MM-dd"
															ng-model="p_info_end" is-open="opened2"
															min-date="p_info_start" max-date="'2020-10-10'"
															datepicker-options="dateOptions" placeholder="结束时间"
															date-disabled="disabled(date, mode)"
															ng-click="openDatepicker($event, 'opened2')"
															clear-text="清除" current-text="今天" close-text="关闭"/>
													</span>
													<!-- <input type="text" ng-model="p.info.end" placeholder="2014-12-30" class="col-sm-5"> -->
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 开始推送时间 </label>
												<div class="col-sm-9">
													<span class="input-group col-xs-4">
														<span class="input-group-addon"
															ng-click="openDatepicker($event, 'opened3')"><i
															class="fa fa-calendar bigger-110"></i></span>
														<input type="text" datepicker-popup="yyyy-MM-dd"
															ng-model="p_set_push_start" is-open="opened3"
															max-date="p_info_end" datepicker-options="dateOptions"
															placeholder="开始推送时间" date-disabled="disabled(date, mode)"
															ng-click="openDatepicker($event, 'opened3')"
															clear-text="清除" current-text="今天" close-text="关闭"/>
													</span>
													<!-- <input type="text" ng-model="p.set.push_start" placeholder="2014-12-25" class="col-sm-5"> -->
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 活动类型 </label>
												<div class="col-sm-9">
													<select class="col-xs-10 col-sm-5" ng-model="p.info.type">
														<option value="">默认</option>
														<option value='1'>抽奖</option>
														<option value='2'>线下</option>
														<option value='3'>调查</option>
														<option value='4'>会员绑定</option>
													</select>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 活动行业 </label>
												<div class="col-sm-9">
													<select class="col-xs-10 col-sm-5" ng-model="p.info.industry">
														<option value=''>默认</option>
														<option value='1'>快消</option>
														<option value='2'>汽车</option>
														<option value='3'>数码</option>
													</select>
												</div>
											</div>

										</div>
										<div class="col-xs-6" style="height:100%">
											<div class="well tags-well">
												<h4 class="green smaller lighter">
												活动标签
												</h4>
												<div class="hot-tags">
													<div>热门标签：</div>
													<p ng-if="!hot_tags.length"><span>暂无热门标签</span></p>
													<div class="checkbox ng-scope" style="display:inline-block;min-width:100px;" ng-repeat="tag in hot_tags">
														<label>
															<input type="checkbox" class="ace ng-pristine ng-valid" ng-click="pushTag(tag.id, tag.tag_name)" ng-checked="common.tempTags[tag.id]">
															<span class="lbl ng-binding"> {{tag.name}}</span>
														</label>
													</div>
												</div>
												<div class="more-tags">
													<button class="btn btn-primary btn-sm" onclick="$('#TagChoose').modal('show')">选择标签</button>
												</div>
												<hr>
												<div class="seleted-tags">
													<span class="label label-lg label-yellow" ng-repeat="(id, name) in p.tags" style="margin-top:5px;">
														{{name}}|<b ng-click="popTag(id)" style="cursor:pointer">&times;</b>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /section:custom/widget-box -->
					</div>
				</div>
				<div class="space-6"></div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
						<div class="widget-box">
							<div class="widget-header widget-header-blue widget-header-flat">
								<h5 class="widget-title">活动页面选择</h5>
								<div class="widget-toolbar">
									<a href="#" data-action="collapse">
										<i class="ace-icon fa fa-chevron-up" id=""></i>
									</a>
								</div>
							</div>
							<div class="widget-body">
								<div class="widget-body-inner">
									<div class="widget-main row">
										<div class="col-sm-3">
											<div class="widget-box widget-color-dark">
												<div class="widget-header widget-header-small">
													<h6 class="widget-title">{{pageTitle}}</h6>
												</div>
												<div class="widget-body" style="height:320px">
													<div style="height:200px;overflow:hidden">
														<img ng-src="{{selectedPage.html_code.1}}" alt="" style="width:100%">
													</div>
													<div class="content" ng-bind-html="selectedPage.content" style="height:100px;overflow:hidden"></div>
												</div>
											</div>
										</div>
										<div class="col-sm-9">
											<div class="filters">
												<input type="text" ng-model="h5_title" placeholder="标题搜索">
												<button class="btn btn-sm btn-primary" style="margin-top:-3px;" ng-click="getH5Pages()">搜索H5页面</button>
											</div>
											<div class="space-6"></div>
											<table class="table table-striped table-bordered table-hover no-margin-bottom">
												<thead>
													<tr>
														<th width="50" class="center"> </th>
														<th>页面标题</th>
														<th width="240">
															<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
															创建时间
														</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-if="!pagesList.data">
														<td colspan="3" align="center">{{pagesEmpty}}</td>
													</tr>
													<tr ng-repeat="item in pagesList.data">
														<td align="center">
															<input type="radio" class="ace" ng-checked="selectedPage.id==item.id" ng-click="selectPage(item)">
															<span class="lbl"></span>
														</td>
														<td>{{item.title}}</td>
														<td>{{item.created_at}}</td>
													</tr>
												</tbody>
											</table>
											<div class="col-sm-12" ng-show="pagesList.data.length>0">
												<pagination class="col-sm-12" total-items="pagesList.total_number" ng-model="pagesList.current_page" ng-click="getH5Pages()" items-per-page="pagesList.items_per_page" max-size="5" class="pagination-sm pull-right" boundary-links="true" previous-text="<" next-text=">" first-text="首页" last-text="末页"></pagination>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="space-6"></div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
						<tabset>
							<tab heading="推送微博内容">
								<!-- 微博推送文本内容 -->
								<textarea class="weibo-text" rows="4" ng-model="p.set.wbContent" ng-show="common.wbType=='text'" ng-init="p.set.wbContent='详情点击:{{link}}';" placeholder="微博推送内容"></textarea>
								<!-- 微博推送单图文 -->
								<div style="border:1px solid #CCCCCC;padding:20px;margin:10px 0 10px" ng-show="common.wbType=='news'">
									已选中：<b>单图文</b>
								</div>
								<!-- 微博推送多图文 -->
								<div style="border:1px solid #CCCCCC;padding:20px;margin:10px 0 10px" ng-show="common.wbType=='articles'">
									已选中：<b>多图文</b>
								</div>
								<div class="elm-area">
									<div class="elms">
										<a class="image elm" href="javascript:;" title="文字" ng-click="common.wbType='text'">
											<i class="fa fa-pencil-square-o bigger-120"></i>
											文字
										</a>
										<!-- <a class="icon-emotions elm" href="javascript:;" title="表情">
											<i class="fa fa-smile-o bigger-120"></i>
											表情
										</a> -->
										<a class="image elm" href="javascript:;" title="图文" ng-click="showMediaBox('news', 'wb')">
											<i class="fa fa-file-o bigger-120"></i>
											单图文
										</a>
										<a class="image elm" href="javascript:;" title="图文" ng-click="showMediaBox('articles', 'wb')">
											<i class="fa fa-files-o bigger-120"></i>
											多图文
										</a>
									</div>
								</div>
							</tab>
							<tab heading="推送微信内容">
								<!-- 微信推送文本内容 -->
								<textarea class="weibo-text" rows="4" ng-model="p.set.wxContent" ng-show="common.wxType=='text'" ng-init="p.set.wxContent='详情点击:{{link}}';" placeholder="微信推送内容"></textarea>
								<!-- 微信推送单图文 -->
								<div style="border:1px solid #CCCCCC;padding:20px;margin:10px 0 10px" ng-show="common.wxType=='news'">
									已选中：<b>单图文</b>
								</div>
								<!-- 微信推送多图文 -->
								<div style="border:1px solid #CCCCCC;padding:20px;margin:10px 0 10px" ng-show="common.wxType=='articles'">
									已选中：<b>多图文</b>
								</div>
								<div class="elm-area">
									<div class="elms">
										<a class="image elm" href="javascript:;" title="文字" ng-click="common.wxType='text'">
											<i class="fa fa-pencil-square-o bigger-120"></i>
											文字
										</a>
										<!-- <a class="icon-emotions elm" href="javascript:;" title="表情">
											<i class="fa fa-smile-o bigger-120"></i>
											表情
										</a> -->
										<a class="image elm" href="javascript:;" title="图文" ng-click="showMediaBox('news', 'wx')">
											<i class="fa fa-file-o bigger-120"></i>
											单图文
										</a>
										<a class="image elm" href="javascript:;" title="图文" ng-click="showMediaBox('articles', 'wx')">
											<i class="fa fa-files-o bigger-120"></i>
											多图文
										</a>
									</div>
								</div>
							</tab>
						</tabset>
					</div> 
				</div>
			</div>
		</div>
		<!-- 前进后退按钮 -->
		<div class="wizard-actions row">
			<div class="col-xs-12">
				<button class="btn-prev btn">
					<i class="ace-icon fa fa-arrow-left"></i> 
					上一步
				</button>
				<button class="btn-next btn btn-success" ng-disabled="createPending" data-last="创建">
					下一步
					<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
				</button>
			</div>
		</div>
	</div>
</div>
