<div class="page-header">
	<h1>
		高级营销
		<small><i class="ace-icon fa fa-angle-double-right"></i> 活动管理 </small>
	</h1>
</div>
<div class="row" ng-controller="AdvEventListController" ng-init="get_list()">
	<div class="col-xs-12">
		<div class="filter-sorter">
			活动类型：
			<select class="" ng-model="p.type">
				<option value="-1">全部</option>
				<option value="0">默认</option>
				<option value="1">抽奖</option>
				<option value="2">线下</option>
				<option value="3">调查</option>
				<option value="4">会员绑定</option>
			</select>
			&nbsp;&nbsp;
			活动行业：
			<select class="" ng-model="p.industry">
				<option value="-1">全部</option>
				<option value="0">默认</option>
				<option value="1">快消</option>
				<option value="2">汽车</option>
				<option value="3">数码</option>
			</select>
			&nbsp;&nbsp;
			起止时间：
			<input type="text" class="ui-autocomplete-input col-w-4" id="tags" placeholder="起始日期" autocomplete="off" ng-model="p.start">
			至
			<input type="text" class="ui-autocomplete-input col-w-4" id="tags" placeholder="结束日期" autocomplete="off" ng-model="p.end">
			&nbsp;&nbsp;
			关键词：
			<input type="text" class="ui-autocomplete-input col-w-4" id="tags" autocomplete="off" ng-model="p.keyword">
			<button class="btn btn-primary btn-sm" ng-click="get_list()" style="margin-top:-3px;">搜索</button>
		</div>
		<div class="space"></div>
		<table id="sample-table-1" class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<!-- <th class="center">
						<label class="position-relative">
							<input type="checkbox" class="ace">
							<span class="lbl"></span>
						</label>
					</th> -->
					<th>活动名称</th>
					<th>活动类型</th>
					<th>活动行业</th>
					<th>起止日期</th>
					<th>
						<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
						创建时间
					</th>
					<th>状态</th>

					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="!events_list.events">
					<td colspan="7" align="center">{{empty}}</td>
				</tr>
				<tr ng-repeat="event in events_list.events">
					<td><a href="#">{{event.event_title}}</a></td>
					<td>{{types[event.type]}}</td>
					<td>{{industries[event.industry]}}</td>
					<td>{{event.start_time}} ~ {{event.end_time}}</td>
					<td>{{event.created_at}}</td>
					<td>
						<span ng-if="event.status==0" class="label label-sm label-gray">未开始</span>
						<span ng-if="event.status==1" class="label label-sm label-success">已发布</span>
						<span ng-if="event.status==2" class="label label-sm label-danger">已停止</span>
					</td>
					<td>
						<div class="hidden-sm hidden-xs btn-group">
							<a ng-href="#/adv-event-detail/event-info/{{event.id}}" class="btn btn-xs btn-success">详情</a>
							<button class="btn btn-xs btn-warning" ng-click="stop(event)" ng-disabled="event.status!=1||event.status_name=='已停止'">停止</button>
							<button class="btn btn-xs btn-danger" ng-click="delete(event)">删除</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="row" ng-show="events_list.events.length>0">
			<div class="col-xs-12">
				<pagination total-items="events_list.total_number" ng-model="events_list.current_page" ng-click="get_list()" items-per-page="events_list.items_per_page" max-size="5" class="pagination-sm pull-right" boundary-links="true" previous-text="<" next-text=">" first-text="首页" last-text="末页"></pagination>
			</div>
		</div>
	</div>
</div>

