<div class="page-header">
    <h1>
        微博
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            微博发布
        </small>
    </h1>
</div>
<div class="row" ng-controller="WeiboSendController">
    <div class="col-xs-12">
        <ul class="nav nav-tabs padding-18">
            <li class="active">
                <a ng-href="#/weibo-send">发微博</a>
            </li>
            <li>
                <a href="#/friends-timeline">微博首页</a>
            </li>
            <li>
                <a ng-href="#/user-timeline">已发布微博</a>
            </li>
            <li>
                <a ng-href="#/weibo-crontab">定时发布管理</a>
            </li>
        </ul>
        <div class="space-6"></div>
        <div class="row">
            <div class="col-xs-12">
                <textarea class="weibo-text" rows="4" ng-model="weibo.text" ng-keyup="updateWords()"></textarea>
                <div class="elm-area">
                    <div class="send-btn pull-right">
                    	<span ng-if="wordsRemain > 0" style="color:#808080">还可以输入 <b>{{wordsRemain}}</b> 字</span>
                    	<span ng-if="wordsRemain <= 0" style="color:#808080">已超出 <b style="color:#E44443">{{-wordsRemain}}</b> 字</span>
                        <a href="javascript:;" class="btn btn-primary" title="发布微博按钮" ng-click="send()" ng-disabled="pending">
                            发 布
                        </a>
                    </div>
                    <div class="elms">
                        <a class="emotions elm" href="javascript:;" title="表情">
                            <i class="fa fa-smile-o bigger-160"></i>
                            表情
                        </a>
                        <a class="image elm" style="color:#ccc;cursor:default" href="javascript:;" title="图片" ng-show="showRepostData">
                            <i class="fa fa-picture-o bigger-160"></i>
                            图片 
                        </a>
                        <a class="image elm" href="javascript:;" title="图片" ng-click="imgModal()" ng-hide="showRepostData">
                            <i class="fa fa-picture-o bigger-160"></i>
                            图片 
                        </a>
                        <span class="preview-image" ng-show="weibo.image&&!showRepostData" style="margin:0 10px 0 -20px">
                            <a href="javascript:;" tooltip-placement="bottom" tooltip-html-unsafe="{{wbPrepare.imageHtml}}">
                            查看图片
                            </a>
                            <a href="javascript:;" class="red" ng-click="weibo.image=false">
                                <i class="fa fa-times bigger-120"></i>
                            </a>
                        </span>
                        
                        <a class="surl elm" href="javascript:;" title="短链接" ng-click="surlModal()">
                            <i class="fa fa-link bigger-160"></i>
                            短链接
                        </a>
                        <a class="surl elm" href="javascript:;" title="关联标签" ng-click="showTagModal()">
                            <i class="fa fa-tag bigger-160"></i>
                            关联标签
                        </a>
                        <span ng-show="wbPrepare.tags[0]" style="margin:0 10px 0 -20px">
                            <span class="label label-lg label-primary" ng-repeat="tag in wbPrepare.tags">
                                {{tag.name}}
                                <a class="white" href="javascript:;" ng-click="removeSelectedTag(tag)">
                                    <i class="fa fa-times"></i>
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-xs-12">
                <tabset>
                    <tab heading="定时发送">
                        <div class="col-xs-12" id="toggleDtPicker">
                            <label ng-click="getTenMinutes()">
                                <input type="checkbox" class="ace" ng-model="wbPrepare.showDtPiker">
                                <span class="lbl"> 定时发送</span>
                            </label>
                        </div>
                        <div class="datetimepicker col-xs-12 mt-20" ng-show="wbPrepare.showDtPiker" style="padding-left:0;">
                            <div class="col-xs-4" style="display:inline-block; min-height:290px; min-width:344px">
                                <datepicker ng-model="wbPrepare.dt" min-date="minDate" show-weeks="true" class="well well-sm" style="min-width:334px"></datepicker>
                            </div>
                            <div class="col-xs-4">
                                <timepicker ng-model="wbPrepare.dt" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                <pre>设置的时间为: <b>{{wbPrepare.dt | date:'yyyy-MM-dd HH:mm' }}</b></pre>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </tab>
                    <tab heading="转发指定微博">
                        <div class="col-xs-12">
                            <label for="specify-repost-link">
                                输入指定微博地址
                            </label> 
                            <div class="clearfix"></div>
                            <div class="input-group col-xs-12 col-sm-6">
                                <input id="specify-repost-link" type="text" class="form-control" ng-model="wbPrepare.repostLink">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-info" type="button" ng-click="getRepostData()" ng-disabled="pending">
                                        获取
                                    </button>
                                    <button class="btn btn-sm btn-danger" type="button" ng-click="cancelRepost()">
                                        取消
                                    </button>
                                </span>
                            </div>
                        </div>

                        <div class="col-xs-12 mt-20">
                            <i class="ace-icon fa fa-spinner fa-spin orange bigger-160" ng-show="showSpinner"></i>
                            <div class="timeline-item clearfix" ng-show="showRepostData">
                                <!-- #section:pages/timeline.info -->
                                <div class="timeline-info">
                                    <img alt="{{repostData.data.user.screen_name}}" ng-src="{{repostData.data.user.profile_image_url}}">
                                </div>

                                <!-- /section:pages/timeline.info -->
                                <div class="widget-box transparent">
                                    <div class="widget-header widget-header-small">
                                        <h5 class="widget-title smaller">
                                            <a href="#" class="blue">{{repostData.data.user.screen_name}}</a>
                                        </h5>

                                        <!-- <span class="widget-toolbar no-border">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            {{repostData.data.created_at }}
                                        </span> -->              
                                    </div>

                                    <div class="widget-body"><div class="widget-body-inner" style="display: block;">
                                        <div class="widget-main">
                                            {{repostData.data.text}}
                                            <div class="space-6"></div>
                                            <!-- 图片 -->
                                            <img ng-src="{{repostData.data.pic_urls[0].thumbnail_pic}}" ng-show="repostData.data.pic_urls[0].thumbnail_pic">
                                            <div class="space-6"></div>
                                            <!-- 转发原微博 -->
                                            <div class="ori-status" ng-show="repostData.data.retweeted_status">
                                                <div class="retweeted_user">
                                                    @{{repostData.data.retweeted_status.user.screen_name}}
                                                </div>
                                                {{repostData.data.retweeted_status.text}}
                                                <div class="space-6"></div>
                                                <!-- 图片 -->
                                                <img ng-src="{{repostData.data.retweeted_status.pic_urls[0].thumbnail_pic}}" ng-show="repostData.data.retweeted_status.pic_urls[0].thumbnail_pic">
                                                <div class="space-6"></div>
                                                <div class="widget-toolbox action-buttons clearfix">
                                                    <div class="pull-left">
                                                        <span class="created-at">
                                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                                            {{repostData.data.retweeted_status.created_at}}
                                                            
                                                        </span>
                                                        <span class="source ml-10" ng-bind-html="repostData.data.source"></span>
                                                    </div>
                                                    <!-- #section:custom/extra.action-buttons -->
                                                    <div class="pull-right">
                                                        <a href="javascript:;">
                                                            转发({{repostData.data.retweeted_status.reposts_count}})
                                                        </a>

                                                        <a href="javascript:;">
                                                            评论({{repostData.data.retweeted_status.comments_count}})
                                                        </a>
                                                    </div>
                                                    <!-- /section:custom/extra.action-buttons -->
                                                </div>
                                            </div>
                                            <div class="space-6"></div>
                                            <div class="widget-toolbox action-buttons clearfix">
                                                <div class="pull-left">
                                                    <span class="created-at">
                                                        <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                                        {{repostData.data.created_at}}
                                                        
                                                    </span>
                                                    <span class="source ml-10" ng-bind-html="repostData.data.source"></span>
                                                    
                                                </div>
                                                <!-- #section:custom/extra.action-buttons -->
                                                <div class="pull-right">
                                                    <a href="javascript:;">
                                                        转发({{repostData.data.reposts_count}})
                                                    </a>

                                                    <a href="javascript:;">
                                                        评论({{repostData.data.comments_count}})
                                                    </a>
                                                </div>

                                                <!-- /section:custom/extra.action-buttons -->
                                            </div>
                                        </div>
                                    </div></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
 </div>

<!-- 短链接生成弹框模板 -->
<script type="text/ng-template" id="surlModal.html">
    <div class="modal-header">
        <button ng-click="cancel()" type="button" class="close" >
        ×
        </button>
        <h3 class="modal-title">短连接生成</h3>
    </div>
    <div class="modal-body">
        <label for="original-url">
            输入原地址
        </label>
        <div>
            <input id="original-url" type="text" class="form-control" ng-model="wbPrepare.originalUrl">
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="cancel()" type="button" class="btn btn-default">
        取消  
        </button>
        <button ng-click="ok()" type="button" class="btn btn-primary" ng-disabled="pending">
        确定
        </button>
    </div>
</script>

<!-- 添加图片弹框模板 -->
<script type="text/ng-template" id="imgModal.html">
    <div class="modal-header">
        <button ng-click="cancel()" type="button" class="close" >
        ×
        </button>
        <h3 class="modal-title">添加图片</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-3">
                <label>
                    <input type="radio" ng-model="wbPrepare.addType" value="uploadShow" class="ace" ng-change="toggleType()">
                    <span class="lbl"> 图片上传</span>
                </label>
            </div>
            <div class="col-xs-3">
                <label>
                    <input type="radio" ng-model="wbPrepare.addType" value="urlShow" class="ace" ng-change="toggleType()">
                    <span class="lbl"> 图片链接</span>
                </label>
            </div>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-xs-12" ng-show="imgUp.uploadShow">
                <span id="img-uplaod" class="btn" ng-model="weibo.image" me-uploadify="{auto:false,buttonText:'图片上传'}"></span>
                <span class="orange">图片大小请控制在5M以内。</span>
            </div>
            <div class="col-xs-12" ng-show="imgUp.urlShow">
                <input type="text" ng-model="weibo.image" style="width:80%">
            </div>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-xs-12">
                <img ng-show="weibo.image" ng-src="{{weibo.image}}"  style="height: 80px;"/>
            </div>
        </div>
        

    </div>
    <div class="modal-footer">
        <button ng-click="cancel()" type="button" class="btn btn-default">
        取消  
        </button>
        <button ng-click="ok()" type="button" class="btn btn-primary" ng-disabled="pending">
        确定
        </button>
    </div>
</script>
