<div class="page-header">
    <h1>
    	微信人工客服 
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            待分类
        </small>
    </h1>
</div>
<div class="row" ng-controller="WeixinOperationController" ng-init="get_timeline(0)">
	<div class="col-xs-12">
		<div id="feed" class="tab-content no-border padding-12">
            <div class="col-xs-12 mb30" id="bootDate">
                <select data-ng-model="cityData.country">
                    <option value="false">全部</option>
                    <option value="true">中国</option>
                </select>
                <select ng-show="cityData.country && cityData.country!='false'" ng-options="k for (k,v) in cityData.city" id="province" data-ng-model="cityData.province">
                    <option value="">全部</option>
                </select>
                <select ng-show="cityData.country && cityData.country!='false' && cityData.province" id="city" ng-options="v as v for (k,v) in cityData.province" data-ng-model="cityData.cityV">
                    <option value="">全部</option>
                </select>

                <select style="width: 100px;margin-bottom: 10px;" data-ng-model="search.sex">
                    <option value="">不限</option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>

                <button type="button" class="btn btn-default" ng-click="open($event,'opened')" style="height: 30px;">
                    <i class="fa fa-calendar"></i>
                </button>
                <input type="text" is-open="opened" max-date="'2050-12-31'" ng-click="open($event,'opened')" current-text="今天" clear-text="清空" close-text="关闭"  style="width: 120px;height: 30px;margin-left: -5px;" class="btn" datepicker-popup="{{format}}"  ng-model="bootDate.dt" placeholder="开始时间"/>
                至
                <button type="button" class="btn btn-default" ng-click="open($event,'opened2')" style="height: 30px;">
                    <i class="fa fa-calendar"></i>
                </button>
                <input type="text" is-open="opened2" ng-click="open($event,'opened2')" current-text="今天" clear-text="清空" close-text="关闭"  style="width: 120px;height: 30px;margin-left: -5px;" class="btn" datepicker-popup="{{format}}" ng-model="bootDate.dt2" placeholder="结束时间"/>
                <input style="width:100px;height: 30px;" data-ng-model="search.nickname" type="text" placeholder="昵称"/>
                <input style="width:100px;height: 30px;" data-ng-model="search.content" type="text" placeholder="内容"/>
                <button class="btn btn-sm btn-primary" style="width: 100px;" data-ng-click="get_timeline(0)">搜索</button>
            </div>
			<div class="profile-feed row-fluid">
				<div style="color: #AAAAAA;margin-top: 55px;margin-left: 16px;" id="loading" ng-show={{'timeline.feeds==undefined||timeline.feeds.length==0'}}>
                    {{empty}}
                </div>
				<div class="row" ng-show="{{'timeline.feeds!=undefined&&timeline.feeds.length!=0'}}">
		            <div class="col-xs-12" ng-show="timeline.total_number">
		                <pagination total-items="timeline.total_number" ng-model="timeline.current_page" ng-click="get_timeline(0)" items-per-page="timeline.items_per_page" max-size="5" class="pagination-sm pull-right" boundary-links="true" previous-text="<" next-text=">" first-text="首页" last-text="末页"></pagination>
		            </div>
		        </div>
				<div class="span6 timeline-item" ng-show="{{'timeline.feeds!=undefined&&timeline.feeds.length!=0'}}">
					<div class="profile-activity clearfix"ng-repeat="item in timeline.feeds" collapse="$parent[item.id].isCollapsed">
						<div ng-include src="'assets/html/mex/wx_communication.html'"></div>
						<div class="actions" cmn-id="{{item.id}}">
							<div class="btns" style="text-align:right">
								<!-- <select ng-repeat="i in pcat" ng-model="$parent[item.id]['cats'][$index]" ng-options="j.id as j.cat_name group by j.pname for j in scat[i.id]"> -->
								<select ng-repeat="i in pcat" ng-model="$parent[item.id]['cats'][$index]" ng-options="j.id as j.cat_name for j in scat[i.id]">
								</select>
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-success" ng-click="categorize(item.id)">
										确定
										<i class="ace-icon fa fa-check"></i>
									</button>
								</div>
								<button class="btn btn-sm btn-primary" ng-click="collapseReplyBox(item)" ng-show="showOperationBtn{{item.id}}">处理</button>
								<div class="btn-group">
									<button class="btn btn-sm btn-yellow">其他操作</button>
									<button data-toggle="dropdown" class="btn btn-sm btn-yellow dropdown-toggle">
										<i class="ace-icon fa fa-angle-down icon-only"></i>
									</button>
									<ul class="dropdown-menu dropdown-yellow">
										<li ng-if='item.is_top!=1'><a href="javascript:;" ng-click="pintotop(item)">置顶</a></li>
										<li ng-if='item.is_top==1'><a href="javascript:;" ng-click="unpin(item)">取消置顶</a></li>
										<li><a href="javascript:;" ng-click="show_suspend(item.id)">挂起</a></li>
										<li><a href="javascript:;" ng-click="ignore(item.id)">忽略</a></li>
									</ul>
								</div>
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-primary" ng-click="assignRandom(item.id, staffs)">随机分配</button>
									<button data-toggle="dropdown" class="btn btn-sm btn-primary dropdown-toggle">
										<i class="ace-icon fa fa-angle-down icon-only"></i>
									</button>
									<ul class="dropdown-menu dropdown-primary">
                                        <li ng-repeat="staff in staffs"><a href="javascript:;" ng-click="assign(item.id, staff.id, staff.name)">{{staff.name}}</a></li>
									</ul>
								</div>
							</div>

							<div class="reply" collapse="!item.showReplyBox">
								<!-- 使用图片、语音、图文回复 -->
								<div ng-if="$parent[item.id].media_type=='voice'">
									<b>{{common.selectedMedia.voice.0.title}}</b>
									<audio ng-src="{{common.selectedMedia.voice.0.filepath}}" controls></audio>
									<a href="{{common.selectedMedia.voice.0.filepath}}" target="_blank" title="右键>'另存为'下载">[Download]</a>
								</div>
								<div ng-if="$parent[item.id].media_type=='image'">
									图片回复<br>
									<img ng-src="{{common.selectedMedia.image.0.filepath}}" alt="图片回复">
								</div>
								<div ng-if="$parent[item.id].media_type=='news'">
									图文回复
									<ul class="ace-thumbnails clearfix">
										<li ng-repeat="news in common.selectedMedia.news">
											<a href="{{news.content_source_url}}" target="_blank" class="cboxElement">
												<img alt="{{news.title}}" ng-src="{{news.filepath}}">
												<div class="text"><div class="inner">{{news.digest}}</div></div>
											</a>
											<div class="tools tools-bottom">
												<a href="{{news.content_source_url}}">{{news.title}}</a>
											</div>
										</li>
									</ul>
								</div>
                                <div ng-if="$parent[item.id].media_type=='articles'">
                                    多图文回复
                                    <div data-ng-repeat="articles in common.selectedMedia.articles">
                                        <div class="widget-box widget-box-me">
                                            <div class="widget-body">
                                                <div class="widget-main" style="overflow: hidden;border-bottom: 1px solid #cccccc;" data-ng-repeat="item1 in articles.data">
                                                    <span style="float:left;width: 200px;height:43px;white-space:normal;word-break:break-all;">
                                                        {{item1.title}}
                                                    </span>
                                                    <span style="overflow:hidden;">
                                                        <img style="width: 100px;height:43px;" ng-src="uploads/images/{{item1.filename}}" alt=""/>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								<!-- 使用图片、语音、图文回复 END -->
                                <div class="text-area" ng-show="$parent[item.id].isShowTxt" >
                                    <textarea id="text-reply-{{item.id}}" class="form-control limited" ng-model="$parent[item.id].reply" ng-keyup="updateWords(item.id)"  maxlength="320"></textarea>
                                    <a class="icon-emotions elm" href="javascript:;" title="表情">
                                        <i class="fa fa-smile-o bigger-160"></i>
                                        表情
                                    </a>
                                </div>
								<div style="margin-top:6px;text-align:right">
									<div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-info" ng-click="showText(item.id)">文本</button>
                                        <button type="button" class="btn btn-sm btn-info" ng-click="showMediaModal('image',item.id)">图片</button>
                                        <button type="button" class="btn btn-sm btn-info" ng-click="showMediaModal('news',item.id)">单图文</button>
                                        <button type="button" class="btn btn-sm btn-info" ng-click="showMediaModal('articles',item.id)">多图文</button>
                                        <button type="button" class="btn btn-sm btn-info" ng-click="showMediaModal('voice',item.id)">语音</button>
										<button type="button" class="btn btn-sm btn-purple" ng-click="showCmnHistory(item.wx_user_id)">沟通记录</button>
										<button type="button" class="btn btn-sm" ng-click="showQuickReply(item)">智库</button>
										<button type="button" class="btn btn-sm btn-success" ng-click="reply(item.id)">提交<i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div><!-- ng-repeat untouched -->
					<!-- 挂起对话框 -->
					<div class="modal fade suspend" id="suspendbox" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title">挂起（定时提醒）</h4>
								</div>
								<div class="modal-body form-horizontal" style="padding-bottom:0">
									<div class="form-group">
										<div class="datetimepicker col-xs-12 mt-20" style="padding-left:0;">
                                            <div class="col-xs-4" style="display:inline-block; min-height:290px; min-width:344px">
                                                <datepicker ng-model="set_time" min-date="minDate" show-weeks="true" class="well well-sm" style="min-width:334px"></datepicker>
                                            </div>
                                            <div class="col-xs-4" style="margin-left:30px">
                                                <timepicker ng-model="set_time" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                            </div>
                                            <div class="col-xs-12">
                                                <pre>设置的时间为: <b>{{set_time | date:'yyyy-MM-dd HH:mm' }}</b></pre>
                                            </div>
                                            
                                            <div class="clearfix"></div>
                                        </div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="name"> 提醒文字 </label>
										<div class="col-sm-9"><textarea ng-model="set_desc" cols="38"></textarea></div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
									<button type="button" class="btn btn-primary" ng-click="suspend(item.id)" data-dismiss="modal">确定</button>
								</div>
							</div>
						</div>
					</div>
				</div><!-- /span -->
				<div class="row" ng-show="{{'timeline.feeds!=undefined&&timeline.feeds.length!=0'}}">
		            <div class="col-xs-12" ng-show="timeline.total_number">
		                <pagination total-items="timeline.total_number" ng-model="timeline.current_page" ng-click="get_timeline(0)" items-per-page="timeline.items_per_page" max-size="5" class="pagination-sm pull-right" boundary-links="true" previous-text="<" next-text=">" first-text="首页" last-text="末页"></pagination>
		            </div>
		        </div>
			</div><!-- /row -->
		</div>
	</div>
	<!-- 素材库选择 -->
	<div class="modal fade" id="library" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content modal-lg">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">选择素材库回复</h4>
				</div>
				<form method="POST" class="form-horizontal" role="form">
				<div class="modal-body">
					<p ng-if="library.length==undefined">{{library_empty}}</p>
					<tabset ng-if="library">
						<tab ng-repeat="(type, items) in library" heading="{{type_names[type]}}">
							<div ng-if="type=='image'" class="item_content">
								<div class="image" ng-repeat="item in items" ng-class="{'chosen':item.mediaid==$parent[current_cmn_id].media_id}">
									<img ng-src="uploads/images/{{item.filename}}" ng-click="use_item(item.mediaid, '图片回复')">
								</div>
							</div>
							<div ng-if="type=='voice'" class="item_content">
								<div class="voice" ng-repeat="item in items" ng-click="use_item(item.mediaid, '音频回复')" ng-class="{'chosen':item.mediaid==$parent[current_cmn_id].media_id}">
									<audio controls ng-src="uploads/voice/{{item.filename}}">音频</audio>
								</div>
							</div>
							<div ng-if="type=='news'" class="item_content">
								<div class="news" ng-repeat="item in items" ng-click="use_item(item.mediaid, '图文回复')" ng-class="{'chosen':item.mediaid==$parent[current_cmn_id].media_id}">
									<h5>{{item.title}}</h5>
									<img ng-src="uploads/images/{{item.filename}}">
								</div>
							</div>
						</tab>
					</tabset>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear_item()">取消</button>
					<button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="reply_with_item()">确定</button>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>