
					<!-- ===========A Template Start ====================================  -->
					<h2>信息模板&nbsp;<a class="btn btn-success changeTemplate" tpl="104info" href="#">使用</a></h2>
					<p class="">最简单的图文形式快速发布相关信息，在底部配有广告链接编辑。</p>
					<!-- <p><center><a class="btn btn-success changeTemplate" tpl="104info" href="#">使用此模板</a></center></p> -->
					<hr/>
				<!-- ===========A Template   End ====================================  -->

				<!-- ===========A Template Start ====================================  -->
					<h2>抽奖模板&nbsp;<a class="btn btn-success changeTemplate" tpl="101draw" href="#">使用</a></h2>
					<p>最有吸引力的活动形式之一，微信用户只需最简单的操作就可以参与，后台可以对参与者进行分析统计与管理。</p>
					<!-- <p><center><a class="btn btn-success changeTemplate" tpl="101draw"  href="#">使用此模板</a></center></p> -->
					<hr/>
				<!-- ===========A Template   End ====================================  -->

				<!-- ===========A Template Start ====================================  -->
					<h2>试用模板&nbsp;<a class="btn btn-success changeTemplate" tpl="102try" href="#">使用</a></h2>
					<p>有效的客户体验产品的方式，适合快速消费类、化妆品、电商、零售或服务类等轻量化产品行业使用。</p>
					<!-- <p><center><a class="btn btn-success changeTemplate" tpl="102try"  href="#">使用此模板</a></center></p> -->
					<hr/>
				<!-- ===========A Template   End ====================================  -->
				<!-- ===========A Template Start ====================================  -->
					<h2>调研模板&nbsp;<a class="btn btn-success changeTemplate" tpl="103survey" href="#">使用</a></h2>
					<p>了解用户想法最直接有效的方法，几个选择就可以轻松的实现与客户的沟通，当然最好能留些小奖励。</p>
					<!-- <p><center><a class="btn btn-success changeTemplate" tpl="103survey"  href="#">使用此模板</a></center></p> -->
					<hr/>
				<!-- ===========A Template   End ====================================  -->



<!-- =============================================== 
    <a class="btn btn-success btn-large" style="display:none;" id="publish" template="" href="#">发布页面</a>
 ===============================================  -->
