<!-- ===========A Template Start ====================================  -->
    <h2>
        <a class="btn btn-success changeTemplate" tpl="107hotel"  href="#">使用</a>
        酒店资讯
    </h2>
    <p class="">本可视化布局程序在HTML5浏览器上运行更加完美.</p>
    <hr/>
<!-- ===========A Template   End ====================================  -->

<!-- ===========A Template Start ====================================  -->
    <h2>
        <a class="btn btn-success changeTemplate" tpl="108hotel"  href="#">使用</a>
        酒店预订
    </h2>
    <p>本可视化布局程序在HTML5浏览器上运行更加完美.</p>
    <hr/>
<!-- ===========A Template   End ====================================  -->

<!-- ===========A Template Start ====================================  -->
    <h2>
        <a class="btn btn-success changeTemplate" tpl="109hotel"  href="#">使用</a>
        客户意见/投诉
    </h2>
    <p>本可视化布局程序在HTML5浏览器上运行更加完美.</p>
    <hr/>
<!-- ===========A Template   End ====================================  -->

<!-- ===============================================
    <p style=""><center><a class="btn btn-success changeTemplate" tpl="105carorder" href="#">使用此模板</a></center></p>
    <p><center><a class="btn btn-success changeTemplate" tpl="106carbuy"  href="#">使用此模板</a></center></p>
    <p><center><a class="btn btn-success changeTemplate" tpl="107car"  href="#">使用此模板</a></center></p>
    <a class="btn btn-success btn-large" style="display:none;" id="publish" template="" href="#">发布页面</a>
 ===============================================  -->
